@font-face {
    font-family: 'loopy';
    src: url(../../Fonts/LOOPY___.ttf);
}

#time{
    position: relative;
    max-width: fit-content;
    margin: auto;
    border: 1px solid #333;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 0 20px #0006;
    backdrop-filter: blur(5px);
    font-size: 6em;
    font-family: 'loopy', monospace;
}

#options{
    margin-top: 15px;
    text-align: center;
}

#options button{
    background: #833AB4;
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%,
    rgba(255, 0, 0, 1) 0%, rgba(229, 9, 20, 1) 85%);
    color: white;
    border: 2px solid black;
    font-size: 1.3em;
    border-radius: 15px;
}

#options button:hover{
    box-shadow: 0 0 10px #ff000099;
}