body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

div.container {
    max-width: 250px;
    margin: 50px auto;
    background-color:rgba(30, 30, 30, 0.9);
    padding: 20px;
    border-radius: 8px;
    border: 2px solid black;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

button{
    width: 50px;
    height: 50px;
    background-color: #f5f5f5;
    color: white;
    border: black solid 2px;
    border-radius: 15px;
    margin: 5px 2px;
    font-size: 20px;
}

#display {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    font-size: 24px;
    border: 2px solid black;
    color: whitesmoke;
}

.buttons{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
}

.buttons button{
    background: #833AB4;
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, 
    rgba(255, 0, 0, 1) 0%, rgba(61, 0, 0, 1) 95%);
    color: white;
}

.buttons button:hover {
    background-color: #833AB4;
    box-shadow: 0 0 10px #ff000099;
    color: #6A7EFC;
}