#content{
    position: relative;
    margin: auto;
    background: rgba(30, 30, 30, 0.9);
    box-shadow: 0 0 20px #0006;
    backdrop-filter: blur(5px);
    border-radius: 12px;
    padding: 20px;
    border: 1px solid #333;
    max-width: fit-content;
    text-align: center;
}

#hourlyScroll{
    overflow-x: auto;
    white-space: nowrap;
    max-width: 700px;
    border: 1px solid #30475E;
}

#hourlyForcast th, #hourlyForecast td{
    min-width: 160px;
    text-align: center;
    border: 1px solid #30475E;
}

#tempDiv{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    row-gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

#city{
    position: relative;
    grid-row: 1;
    grid-column: 1/span 2;
    text-align: center;
    padding-bottom: 10px;
    border: 1px solid #30475E;
}

#condition{
    position: relative;
    top: 35px;
    margin-bottom: 35px;
    grid-row: 1;
    grid-column: 1 / span 2;
}

#temp{
    grid-row: 2;
    grid-column: 1;
    border: 1px solid #30475E;
}

#feelsLike{
    grid-row: 2;
    grid-column: 2;
    border: 1px solid #30475E;
}

#rain{
    grid-row: 3;
    grid-column: 1;
    border: 1px solid #30475E;
}

#wind{
    grid-row: 3;
    grid-column: 2;
    border: 1px solid #30475E;
}