#content{
    position: relative;
    max-width: fit-content;
    margin: auto;
    background: rgba(30, 30, 30, 0.9);
    border: 1px solid #333;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 0 20px #0006;
    backdrop-filter: blur(5px);
}

.done {
    text-decoration: line-through;
    color: gray;
    opacity: 0.6;
}

#delete-task-btn, #complete-task-btn {
    position: absolute;
    top: 10px;
}

#delete-task-btn{
    background: #833AB4;
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, 
    rgba(255, 0, 0, 1) 0%, rgba(61, 0, 0, 1) 82%);
}
#delete-task-btn:hover {
    box-shadow: 0 0 10px #ff000099;
}

#complete-task-btn {
    right: 20px;
    background: #833AB4;
background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%,
 rgba(255, 0, 0, 1) 0%, rgba(229, 9, 20, 1) 85%);
}
#complete-task-btn:hover {
    box-shadow: 0 0 10px #00c85399;
}

#input-area {
    margin-top: 40px;
    margin-bottom: 20px;
}

.list-group-item.active{
    background-color: #940204;
}

input, button{
    border-radius: 8px;
  border: none;
  padding: 10px;
}

#add-task-btn{
background: #833AB4;
background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%,
 rgba(255, 0, 0, 1) 0%, rgba(229, 9, 20, 1) 85%);
  color: white;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s
}

#add-task-btn:hover{
    box-shadow: 0 0 10px #00c85399;
}

button:hover{
    transform: scale(1.05);
}

.list-group-item{
     background: #DFE2DB;
  margin: 8px 0;
  padding: 10px;
  border-radius: 8px;
  transition: background 0.2s;
  text-align: center;
  font-size: 1.2em;
}
.list-group-item:hover{
    background: #74020f;
    color: white;
    transform: translateY(-2px)
}