@import "tailwindcss";

@theme {
    --color-primary: #059669;         /* emerald-600 */
    --color-primary-hover: #047857;   /* emerald-700 */
    --color-accent: #f59e0b;          /* amber-500 */

    /* Backgrounds */
    --color-background: #f8fafc;      /* slate-50 */
    --color-surface: #ffffff;         /* white */

    /* Text */
    --color-text: #0f172a;            /* slate-900 */
    --color-text-muted: #64748b;      /* slate-500 */

    /* Borders */
    --color-border: #e2e8f0; 

}



